{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": "vendor/bin/phpunit"
    },
    "testFrameworkOptions": "--testsuite=unit",
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "2.x"
        }
    },
    "minMsi": 37.33,
    "minCoveredMsi": 100.00
}
