{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui segment">
        {% if error is not null %}
            <div class="ui icon negative message">
                <i class="exclamation circle icon"></i>
                <div class="content">{{ error|trans }}</div>
            </div>
        {% else %}
            {{ 'setono_sylius_abandoned_cart.ui.successfully_unsubscribed'|trans }}
        {% endif %}
    </div>
{% endblock %}
